body{
    width: 1280px;
    margin: auto;
    font-family: 'Montserrat';
}

.menu{
    text-align: center;
    height: 78px;
    line-height: 78px;
    text-transform: uppercase;
}

.menu li{
    display: inline-block;
    font-size: 18px;
    font-weight: 700;
    color: #FF0000;
}

.menu li a{
    text-decoration: none;
    color: #FF0000;
}

.menu-item-download{
    padding-left: 50px;
}

.menu-item-design,
.menu-item-photoapp{
    padding-left: 72px;
}

.main{
    margin-top: 48px;
}

.main img{
    width:100%;
}

.content-heading{
    text-transform: uppercase;
    text-align: center;
    color: #373737;
    font-size: 22px;
    letter-spacing: 3.3px;
}

.main p{
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 2.4px;
    text-align: center;
    color: #373737;
    padding-left: 67.5px;
    padding-right: 67.5px;
    line-height: 26px;
}

.text-1{
    padding-top: 38px;
}

.text-2{
    padding-top: 28px;
}

.button{
    width: 191px;
    height: 51px;
    margin: auto;
    background-color: #FF0000;
    text-align: center;
    color: #fff;
    border-radius: 4px;
    line-height: 51px;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.8px;
    margin-top: 66px;
}

.footer{
    margin: 82px 105px 29px 712px;
}

.copyright{
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 2.4px;
    color: #373737;
}